@charset "utf-8";

:root {
    --font-color-black: #000;
    --app-color-white: #fff;
    --color-grey: rgb(0 0 0 / 0.1);
    --color-output-textbox: rgb(0 0 0 / 0.6);
}

.container {
    width: min(100% - 40px, 1200px);
    margin-inline: auto;
}

.center {
    place-items: center;
}

.grid {
    display: grid;
}

body {
    height: 100dvh;
}

main {
    height: 100%;
}

p {
    color: var(--app-color-white);
}

.hint {
    color: rgb(255 255 255 / 0.5);
    font-size: 20px;
    margin-bottom: 15px;
}

span, placeholder, input[type="text"], p {
    font-weight: 700;
}

button {
    width: 200px;
    height: 44px;
    border-radius: 5px;
    background-color: var(--app-color-white);
}

.reset-button {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
}

.reset-button.display {
    display: block;
}

.submit-button {
    margin-top: 30px;
}

button span {
    font-size: 20px;
}

.game-board {
    height: 100%;
}

.guesses-left {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 15px;
}

.input {
    background-color: var(--app-color-white);
    font-size: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
}

input {
    caret-color: transparent;
}

.output {
    padding: 0 15px;
    margin-top: 40px;
    height: 60px;
    width: 480px;
    border-radius: 5px;
    background-color: var(--color-output-textbox);
}

.output p {
    font-weight: 600;
    font-size: 20px;
    color: rgb(255 255 255 / 0.7);
    line-height: 60px;
    text-align: center;
}

/*===============================*/
/* media query                   */
/*===============================*/

@media (max-width: 480px) {
    .output {
        width: 100%;
    }
}